
body {
  background-color: white;
}

.left-box{
  background-color: black;
  position: absolute;
  top: 0;
  right: 80%;
  bottom: 0;
  left: 0;
  padding-left: 20px;
}

.right-box {
  background-image: url('background.jpg') ;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 20%;
}

#in-box-contents {
  color: #C0C0C0;
  font-family: 'Signika Negative', sans-serif;
  font-weight: bold;
  font-size:16px;
  text-align: center;
}

#selection-box {
  color: #C0C0C0;
  font-family: 'Signika Negative', sans-serif;
  font-weight: bold;
  font-size:16px;
}

#mult-sel-1 {
  margin-top: 30px;
  margin-bottom: 30px;
}

#mult-sel-2 {
  margin-top: 30px;
  margin-bottom: 30px;
}

#mult-sel-3 {
  margin-top: 30px;
  margin-bottom: 30px;
}

header {
  font-family: 'Alfa Slab One', cursive;
  color: #81C6DD;
  font-size: 50px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 60px;
}

h2 {
  color: #AB988B;
  font-family: 'Bree Serif', serif;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

p {
  color: ##C0C0C0;
  font-family: 'Signika Negative', sans-serif;
  font-weight: bold;
  font-size:16px;
}