
body {
  background-color: black;
}

.left-box{
  background-color: black;
  position: absolute;
  top: 0;
  right: 75%;
  bottom: 0;
  left: 0;
  padding-left: 20px;
}

.right-box {
  background-image: url('background.jpg') ;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 25%;
}

footer {
  background-color: #1C1C1C;
  position: absolute;
  top: 95%;
  right: 0;
  bottom: 0;
  left: 0;
  padding-left: 20px;
  color: #C0C0C0;
  font-family: 'Snippet', sans-serif;
  font-weight: bold;
  font-size:12px;
  padding-top: 10px;
}

#in-box-contents {
  color: #C0C0C0;
  font-family: 'Snippet', sans-serif;
  font-weight: bold;
  font-size:15px;
  text-align: center;
}

#selection-box {
  color: #C0C0C0;
  font-family: 'Snippet', sans-serif;
  font-weight: bold;
  font-size:15px;
}

#mult-sel-1 {
  margin-top: 30px;
  margin-bottom: 30px;
}

#mult-sel-2 {
  margin-top: 30px;
  margin-bottom: 30px;
}

#mult-sel-3 {
  margin-top: 30px;
  margin-bottom: 30px;
}

#mult-sel-4 {
  margin-top: 30px;
  margin-bottom: 30px;
}

#button {
  height: 30px;
  width: 100px;
  color: #81C6DD;
  font-size: 16px;
  background-color: #161616;
  border-color: #161616;
  font-family: 'Bree Serif', serif;
}

header {
  font-family: 'Alfa Slab One', cursive;
  color: #81C6DD;
  font-size: 50px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

section {
  background-color: #1C1C1C;
  padding-top: 10px;
  padding-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

h2 {
  color: #AB988B;
  font-family: 'Bree Serif', serif;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

p {
  color: #C0C0C0;
  font-family: 'Snippet', sans-serif;
  font-weight: bold;
  font-size:15px;
}