
body {
  background-color: #D4E7ED;
}

.out-box {
  background-color: #7195A3;
  margin: 50px 65px 50px 65px;
  padding: 50px;
  border-radius: 3%;
}

.in-box {
  background-color: #74A6BD;
  margin: 25px 0px 25px 0px;
  padding: 25px;
  border-radius: 3%;
  color: #294052;
  font-family: 'Signika Negative', sans-serif;
  font-weight: bold;
  font-size:18px;
}

#selection-box {
  color: #294052;
  font-family: 'Signika Negative', sans-serif;
  font-weight: bold;
  font-size:18px;
}

#in-box-contents {
  text-align: center;
}

#mult-sel-1 {
  float: left;
}

#mult-sel-2 {
  float: right;
}

#mult-sel-3 {
  clear: both;
}

header {
  font-family: 'Alfa Slab One', cursive;
  color: #274257;
  font-size: 25px;
  text-align: center;
}

h2 {
  color: #294052;
  font-family: 'Bree Serif', serif;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}

p {
  color: #294052;
  font-family: 'Signika Negative', sans-serif;
  font-weight: bold;
  font-size:18px;
}